@inject IJSRuntime JSRuntime

<MudGrid>
    <MudItem xs="6">
        <MudPaper Height="100%" Width="100%" Class="pa-2" Elevation="5">
            <MudText Typo="Typo.h6" Align="Align.Center">Rzut parteru</MudText>
            <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
            <!-- Created with Inkscape (http://www.inkscape.org/) -->

            <svg width="100%"
                 height="90%"
                 viewBox="0 0 9088.2568 7596.8135"
                 version="1.1"
                 id="svg239"
                 inkscape:export-filename="mapaTemperatury_strona.svg"
                 inkscape:export-xdpi="96"
                 inkscape:export-ydpi="96"
                 inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
                 sodipodi:docname="mapaTemperatury.svg"
                 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:svg="http://www.w3.org/2000/svg">
                <sodipodi:namedview id="namedview241"
                                    pagecolor="#ffffff"
                                    bordercolor="#000000"
                                    borderopacity="0.25"
                                    inkscape:showpageshadow="2"
                                    inkscape:pageopacity="0.0"
                                    inkscape:pagecheckerboard="0"
                                    inkscape:deskcolor="#d1d1d1"
                                    inkscape:document-units="mm"
                                    showgrid="false"
                                    inkscape:zoom="0.014142136"
                                    inkscape:cx="7000.3571"
                                    inkscape:cy="14919.953"
                                    inkscape:window-width="1920"
                                    inkscape:window-height="1009"
                                    inkscape:window-x="-8"
                                    inkscape:window-y="-8"
                                    inkscape:window-maximized="1"
                                    inkscape:current-layer="layer1">
                    <inkscape:grid type="xygrid"
                                   id="grid1191" />
                </sodipodi:namedview>
                <defs id="defs236" />
                <g inkscape:label="Warstwa 1"
                   inkscape:groupmode="layer"
                   id="layer1"
                   transform="translate(-244.20454,-1828.2708)">
                    <rect style="@AlarmColor("Pom1")"
                          id="Pom1"
                          width="2070.2737"
                          height="825.50006"
                          x="2618.3992"
                          y="5447.771"
                    @ref="Pom1"
                    @onmouseenter="() => OnMouseEnter(Pom1)"
                    @onmouseleave="() => OnMouseLeave(Pom1)">
                        <title id="title606">Wybijanie podudzia</title>
                    </rect>
                    <rect style="@AlarmColor("Pom2")"
                          id="Pom2"
                          width="1035.1367"
                          height="1108.6044"
                          x="2618.3992"
                          y="4333.875"
                    @ref="Pom2"
                    @onmouseenter="() => OnMouseEnter(Pom2)"
                    @onmouseleave="() => OnMouseLeave(Pom2)">
                        <title id="title608">Pomieszczenie surowych wyrobów mięsnych 1</title>
                    </rect>
                    <rect style="@AlarmColor("Pom3")"
                          id="Pom3"
                          width="1870.553"
                          height="912.81244"
                          x="6067.0298"
                          y="4053.4167"
                    @ref="Pom3"
                    @onmouseenter="() => OnMouseEnter(Pom3)"
                    @onmouseleave="() => OnMouseLeave(Pom3)">
                        <title id="title1424">Pomieszczenie separacji</title>
                    </rect>
                    <rect style="@AlarmColor("Pom4")"
                          id="Pom4"
                          width="1388.4517"
                          height="1087.4376"
                          x="7944.0103"
                          y="4312.7085"
                    @ref="Pom4"
                    @onmouseenter="() => OnMouseEnter(Pom4)"
                    @onmouseleave="() => OnMouseLeave(Pom4)">
                        <title id="title1432">Pomieszczenie wychładzania podrobów</title>
                    </rect>
                    <rect style="@AlarmColor("Pom5")"
                          id="Pom5"
                          width="1738.7169"
                          height="736.34888"
                          x="246.52293"
                          y="4053.4167"
                    @ref="Pom5"
                    @onmouseenter="() => OnMouseEnter(Pom5)"
                    @onmouseleave="() => OnMouseLeave(Pom5)">
                        <title id="title540">Komora zamrażania numer 4</title>
                    </rect>
                    <rect style="@AlarmColor("Pom6")"
                          id="Pom6"
                          width="1738.7169"
                          height="735.67047"
                          x="246.52293"
                          y="4795.0571"
                    @ref="Pom6"
                    @onmouseenter="() => OnMouseEnter(Pom6)"
                    @onmouseleave="() => OnMouseLeave(Pom6)">
                        <title id="title542">Komora zamrażania numer 3</title>
                    </rect>
                    <rect style="@AlarmColor("Pom7")"
                          id="Pom7"
                          width="1738.7169"
                          height="735.67047"
                          x="246.52293"
                          y="5535.8901"
                    @ref="Pom7"
                    @onmouseenter="() => OnMouseEnter(Pom7)"
                    @onmouseleave="() => OnMouseLeave(Pom7)">
                        <title id="title544">Komora zamrażania numer 2</title>
                    </rect>
                    <rect style="@AlarmColor("Pom8")"
                          id="Pom8"
                          width="1738.7169"
                          height="735.67047"
                          x="246.52293"
                          y="6276.7236"
                    @ref="Pom8"
                    @onmouseenter="() => OnMouseEnter(Pom8)"
                    @onmouseleave="() => OnMouseLeave(Pom8)">
                        <title id="title546">Komora zamrażania numer 1</title>
                    </rect>
                    <rect style="@AlarmColor("Pom9")"
                          id="Pom9"
                          width="1738.7169"
                          height="2407.5271"
                          x="246.52293"
                          y="7017.5571"
                    @ref="Pom9"
                    @onmouseenter="() => OnMouseEnter(Pom9)"
                    @onmouseleave="() => OnMouseLeave(Pom9)">
                        <title id="title538">Komora składowa</title>
                    </rect>
                    <rect style="@AlarmColor("Pom10")"
                          id="Pom10"
                          width="2542.9485"
                          height="730.25024"
                          x="2618.3992"
                          y="6278.5625"
                    @ref="Pom10"
                    @onmouseenter="() => OnMouseEnter(Pom10)"
                    @onmouseleave="() => OnMouseLeave(Pom10)">
                        <title id="title604">Paletyzacja</title>
                    </rect>
                    <path style="@AlarmColor("Pom11")"
                          d="M 4109.6989,3687.9106 V 4048.125 H 7937.6755 V 3309.9376 H 6124.3277 v 377.973 H 4109.6989"
                          id="Pom11"
                    @ref="Pom11"
                    @onmouseenter="() => OnMouseEnter(Pom11)"
                    @onmouseleave="() => OnMouseLeave(Pom11)">
                        <title id="title1341">Hala dzielenia</title>
                    </path>
                    <rect style="@AlarmColor("Pom12")"
                          id="Pom12"
                          width="2008.7546"
                          height="373.06241"
                          x="4109.6992"
                          y="3309.9375"
                    @ref="Pom12"
                    @onmouseenter="() => OnMouseEnter(Pom12)"
                    @onmouseleave="() => OnMouseLeave(Pom12)">
                        <title id="title1339">Magazyn elementów</title>
                    </rect>
                    <rect style="@AlarmColor("Pom13")"
                          id="Pom13"
                          width="2111.8613"
                          height="738.18756"
                          x="1991.6677"
                          y="3309.9375"
                    @ref="Pom13"
                    @onmouseenter="() => OnMouseEnter(Pom13)"
                    @onmouseleave="() => OnMouseLeave(Pom13)">
                        <title id="title1273">Magazyn elementów</title>
                    </rect>
                    <rect style="@AlarmColor("Pom14")"
                          id="Pom14"
                          width="1870.5525"
                          height="3029.479"
                          x="6067.0298"
                          y="4971.521"
                    @ref="Pom14"
                    @onmouseenter="() => OnMouseEnter(Pom14)"
                    @onmouseleave="() => OnMouseLeave(Pom14)">
                        <title id="title1426">Pomieszczenie pakowania elementów</title>
                    </rect>
                    <rect style="@AlarmColor("Pom15")"
                          id="Pom15"
                          width="1388.4517"
                          height="997.47925"
                          x="7944.0103"
                          y="3309.9375"
                    @ref="Pom15"
                    @onmouseenter="() => OnMouseEnter(Pom15)"
                    @onmouseleave="() => OnMouseLeave(Pom15)">
                        <title id="title1430">Pomieszczenie produkcji farszu</title>
                    </rect>
                    <rect style="@AlarmColor("Pom16")"
                          id="Pom16"
                          width="2400.864"
                          height="1108.6041"
                          x="3659.7378"
                          y="4333.875"
                    @ref="Pom16"
                    @onmouseenter="() => OnMouseEnter(Pom16)"
                    @onmouseleave="() => OnMouseLeave(Pom16)">
                        <title id="title610">Pomieszczenie surowych wyrobów mięsnych 2</title>
                    </rect>
                    <rect style="@AlarmColor("Pom17")"
                          id="Pom17"
                          width="2735.1208"
                          height="1476.375"
                          x="1991.6677"
                          y="1828.2709"
                    @ref="Pom17"
                    @onmouseenter="() => OnMouseEnter(Pom17)"
                    @onmouseleave="() => OnMouseLeave(Pom17)">
                        <title id="title1271">Chłodnia towaru zapakowanego</title>
                    </rect>
                    <rect style="@AlarmColor("Pom18")"
                          id="Pom18"
                          width="1740.7896"
                          height="735.54144"
                          x="244.20454"
                          y="2569.1042"
                    @ref="Pom18"
                    @onmouseenter="() => OnMouseEnter(Pom18)"
                    @onmouseleave="() => OnMouseLeave(Pom18)">
                        <title id="title540-4-2">Pomieszczenie kartony</title>
                    </rect>
                    <rect style="@AlarmColor("Pom19")"
                          id="Pom19"
                          width="1740.7896"
                          height="735.54156"
                          x="244.20454"
                          y="1828.2709"
                    @ref="Pom19"
                    @onmouseenter="() => OnMouseEnter(Pom19)"
                    @onmouseleave="() => OnMouseLeave(Pom19)">
                        <title id="title540-4-221">Pomieszczenie adsadasdsa</title>
                    </rect>
                    <rect style="@AlarmColor("Pom20")"
                          id="Pom20"
                          width="3968.2417"
                          height="489.47928"
                          x="4733.2163"
                          y="2815.1667"
                    @ref="Pom20"
                    @onmouseenter="() => OnMouseEnter(Pom20)"
                    @onmouseleave="() => OnMouseLeave(Pom20)">
                        <title id="title1343">Tunel chłodzenia tuszek - Linia 1</title>
                    </rect>
                    <rect style="@AlarmColor("Pom21")"
                          id="Pom21"
                          width="3968.2417"
                          height="486.83328"
                          x="4733.2163"
                          y="2323.0417"
                    @ref="Pom21"
                    @onmouseenter="() => OnMouseEnter(Pom21)"
                    @onmouseleave="() => OnMouseLeave(Pom21)">
                        <title id="title1345">Tunel chłodzenia tuszek - Linia 2</title>
                    </rect>
                    <rect style="@AlarmColor("Pom22")"
                          id="Pom22"
                          width="3968.2417"
                          height="489.47919"
                          x="4733.2163"
                          y="1828.2709"
                    @ref="Pom22"
                    @onmouseenter="() => OnMouseEnter(Pom22)"
                    @onmouseleave="() => OnMouseLeave(Pom22)">
                        <title id="title1275">Tunel chłodzenia tuszek - Linia 3</title>
                    </rect>
                    <rect style="@AlarmColor("Pom23")"
                          id="Pom23"
                          width="1738.7783"
                          height="738.18738"
                          x="246.46147"
                          y="3309.9375"
                    @ref="Pom23"
                    @onmouseenter="() => OnMouseEnter(Pom23)"
                    @onmouseleave="() => OnMouseLeave(Pom23)">
                        <title id="title540-4">Pakowanie mięsa bezpośrednie</title>
                    </rect>
                    <rect style="@AlarmColor("Pom24")"
                          id="Pom2425"
                          width="1267.295"
                          height="1685.2687"
                          x="3891.1462"
                          y="7014.104"
                    @ref="Pom2425"
                    @onmouseenter="() => OnMouseEnter(Pom2425)"
                    @onmouseleave="() => OnMouseLeave(Pom2425)">
                        <title id="title602">Komora zamrażania 5_1 i 5_1B</title>
                    </rect>
                    <rect style="@AlarmColor("Pom26")"
                          id="Pom2627"
                          width="1266.3191"
                          height="1685.2687"
                          x="2618.3992"
                          y="7014.104"
                    @ref="Pom2627"
                    @onmouseenter="() => OnMouseEnter(Pom2627)"
                    @onmouseleave="() => OnMouseLeave(Pom2627)">
                        <title id="title600">Komora zamrażania 5_2 i 5_2B</title>
                    </rect>
                    <rect style="@AlarmColor("Pom28")"
                          id="Pom2829"
                          width="1867.3389"
                          height="1307.0419"
                          x="6067.0298"
                          y="8006.2915"
                    @ref="Pom2829"
                    @onmouseenter="() => OnMouseEnter(Pom2829)"
                    @onmouseleave="() => OnMouseLeave(Pom2829)">
                        <title id="title1428">Magazyn opakowań bezpośrednich</title>
                    </rect>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="1006.9633"
                          y="3346.3184"
                          id="Pom18Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-3"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="1006.9633"
                                                       y="3346.3184">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom18")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8.81722;stroke-dashoffset:36.2835"
                          x="1008.1265"
                          y="6616.2441"
                          id="Pom7Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-82"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="1008.1265"
                                                       y="6616.2441">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom7")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8.81722;stroke-dashoffset:36.2835"
                          x="2760.6843"
                          y="4164.2891"
                          id="Pom13Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-7"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="2760.6843"
                                                       y="4164.2891">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom13")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8.81722;stroke-dashoffset:36.2835"
                          x="1008.1265"
                          y="9170.5908"
                          id="Pom9Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-5"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="1008.1265"
                                                       y="9170.5908">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom9")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8.81722;stroke-dashoffset:36.2835"
                          x="1008.0987"
                          y="4164.2891"
                          id="Pom23Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-8"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="1008.0987"
                                                       y="4164.2891">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom23")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8.81722;stroke-dashoffset:36.2835"
                          x="1008.1265"
                          y="7432.7563"
                          id="Pom8Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-4"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="1008.1265"
                                                       y="7432.7563">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom8")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8.81722;stroke-dashoffset:36.2835"
                          x="1008.1265"
                          y="5799.6606"
                          id="Pom6Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-32"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="1008.1265"
                                                       y="5799.6606">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom6")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8.81722;stroke-dashoffset:36.2835"
                          x="1006.9633"
                          y="2529.8059"
                          id="Pom19Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="1006.9633"
                                                       y="2529.8059">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom19")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="6090.4077"
                          y="3481.9177"
                          id="Pom20Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-97"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="6090.4077"
                                                       y="3481.9177">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom20")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="6348.9639"
                          y="7258.2866"
                          id="Pom14Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-74"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="6348.9639"
                                                       y="7258.2866">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom14")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="1008.1265"
                          y="4982.7036"
                          id="Pom5Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-1"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="1008.1265"
                                                       y="4982.7036">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom5")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="6090.4077"
                          y="2394.2068"
                          id="Pom22Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-96"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="6090.4077"
                                                       y="2394.2068">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom22")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="6090.4077"
                          y="2933.5742"
                          id="Pom21Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-2"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="6090.4077"
                                                       y="2933.5742">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom21")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="3043.4358"
                          y="2938.0623"
                          id="Pom17Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-0"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="3043.4358"
                                                       y="2938.0623">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom17")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="4635.7461"
                          y="3963.0767"
                          id="Pom12Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-87"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="4635.7461"
                                                       y="3963.0767">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom12")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="6348.9639"
                          y="4164.2891"
                          id="Pom11Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-9"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="6348.9639"
                                                       y="4164.2891">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom11")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="6348.9639"
                          y="5095.9307"
                          id="Pom3Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-06"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="6348.9639"
                                                       y="5095.9307">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom3")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="6347.5063"
                          y="9413.2959"
                          id="Pom2829Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-19"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="6347.5063"
                                                       y="9413.2959">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom28")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="6347.5063"
                          y="9896.6416"
                          id="Pom2829Wilg"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-19-4"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="6347.5063"
                                                       y="9896.6416">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom29")).Measurments[0].Temperature</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="4101.0815"
                          y="8480.7988"
                          id="Pom2425Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-01"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="4101.0815"
                                                       y="8480.7988">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom24")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="4101.0815"
                          y="9131.1621"
                          id="Pom2425Wilg"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-01-2"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="4101.0815"
                                                       y="9131.1621">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom25")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="2945.8574"
                          y="9131.1621"
                          id="Pom2627Wilg"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-01-28"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="2945.8574"
                                                       y="9131.1621">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom26")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="2945.8574"
                          y="8480.7988"
                          id="Pom2627Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-80"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="2945.8574"
                                                       y="8480.7988">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom27")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="3525.0093"
                          y="7431.7959"
                          id="Pom10Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-73"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="3525.0093"
                                                       y="7431.7959">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom10")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="3310.5771"
                          y="6568.626"
                          id="Pom1Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-018"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="3310.5771"
                                                       y="6568.626">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom1")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="4405.4756"
                          y="5496.9531"
                          id="Pom16Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-064"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="4405.4756"
                                                       y="5496.9531">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom16")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="2840.9797"
                          y="5496.9531"
                          id="Pom2Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-89"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8,81723"
                                                       x="2840.9797"
                                                       y="5496.9531">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom2")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="7833.2671"
                          y="5461.9604"
                          id="Pom4Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-44"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8.81723"
                                                       x="7833.2671"
                                                       y="5461.9604">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom4")).Measurments[0].Temperature°C</tspan></text>
                    <text xml:space="preserve"
                          style="font-weight:bold;font-size:311.052px;font-family:'Segoe UI';-inkscape-font-specification:'Segoe UI Bold';text-align:center;text-anchor:middle;fill:#4e4e50;stroke-width:8,81722;stroke-dashoffset:36.2835"
                          x="7833.2666"
                          y="4307.1787"
                          id="Pom15Temp"
                          transform="scale(1.1021539,0.90731435)"
                          pointer-events="none"><tspan sodipodi:role="line"
                                                       id="tspan1434-52"
                                                       style="font-size:311.052px;fill:#ffffff;stroke-width:8,81723"
                                                       x="7833.2666"
                                                       y="4307.1787">@Sensors.FirstOrDefault(x => x.OriginalName.Equals("Pom15")).Measurments[0].Temperature°C</tspan></text>
                </g>
            </svg>
        </MudPaper>
    </MudItem>
</MudGrid>
