@inject IJSRuntime JsRuntime

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }

    table#alter tr:nth-child(even) {
        background-color: #eee;
    }

    table#alter tr:nth-child(odd) {
        background-color: #fff;
    }

    table#alter th {
        color: white;
        background-color: gray;
    }
</style>

<MudOverlay Visible="_reloading" LightBackground="true" ZIndex="9999">
    <div class="d-flex flex-column flex-column justify-center" style="height:100%">
        <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
        <MudText Align="Align.Center" Typo="Typo.h5"></MudText>
    </div>
</MudOverlay>

<MudGrid Class="mt-2" Justify="Justify.Center">
    @if (_loaded)
    {
        <MudItem xs="2">
            <MudButton OnClick="@PrintPage" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Drukuj</MudButton>
            <MudDatePicker PickerClosed="DateChanged" MaxDate="@DateTime.Today" @bind-Date="selectedDate" Variant="Variant.Outlined" Color="Color.Error"></MudDatePicker>
            <MudList Clickable="true" Dense="true" DisableGutters="true" Class="pa-2" Style="box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);border-radius: 1px; height:75vh;overflow:auto;" Color="Color.Secondary" DisablePadding="true">
                @foreach (var sensor in Sensors.FirstOrDefault().Measurments)
                {
                    <MudListItem Dense="true"  @onclick="() => ChangeSelectedTime(sensor.Time)">@sensor.Time.ToShortTimeString()</MudListItem>
                    <MudDivider DividerType="DividerType.Inset" />
                }
            </MudList>
        </MudItem>
        <MudItem xs="7" Style="display: flex; justify-content: center; align-content:start; width: 100%">
            <MudPaper Elevation="5" Class="pa-2" Style="width: 21cm;height: 29.7cm;">
                <div id="report">
                    <MudStack Row="true" Justify="Justify.SpaceBetween">
                        <MudText Style="font-size:12px;">Firma: Bomadek Sp. zo.o., 66-132 Trzebiechów, ul. Słoneczna 16</MudText>
                        <MudText Style="font-size:12px;">@DateTime.Now</MudText>
                    </MudStack>
                    <MudDivider DividerType="DividerType.Middle" Class="my-6" Light="true" />
                    <MudText Style="font-size:14px;" Align="Align.Right">Temp wersja 0.1</MudText>
                    <MudText Style="font-size:18px;"><b>Raport: Wartości temperatur dla wybranych pomieszczeń chłodniczych</b></MudText>
                    @if (selectedTime is not null)
                    {
                        <MudText Style="font-size:14px;">Dla dnia i godziny: @selectedTime</MudText>
                        <div style="display: flex; justify-content: center; width: 100%;">
                            <table width="90%" style="border: 1px solid black;">
                                <tr>
                                    <th style="border: 2px solid black; padding: 10px;">Lp.</th>
                                    <th style="border: 2px solid black; padding: 10px;">Nazwa</th>
                                    <th style="border: 2px solid black; padding: 10px;">Temperatura</th>
                                    <th style="border: 2px solid black; padding: 10px;">Status</th>
                                </tr>
                                @foreach (var (sensor, index) in Sensors.Select((value, i) => (value, i)))
                                {
                                    <tr>
                                        <td style="border: 1px solid black; padding: 2px;">@(index + 1)</td>
                                        <td style="border: 1px solid black; padding: 2px;">@sensor.Description</td>
                                        <td style="border: 1px solid black; padding: 2px;">@sensor.Measurments.Where(x => x.Time == selectedTime).FirstOrDefault().Temperature</td>
                                        <td style="border: 1px solid black; padding: 2px;"></td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                </div>
            </MudPaper>
        </MudItem>
    }
</MudGrid>
